.image-default {
  width: 28px;
  height: 28px;
}

.image-small {
  width: 24px;
  height: 24px;
}

.designs-table {
  th {
    width: 200px;
  }
  .base-color-preview {
    height: 24px;
  }
}

.current-image-group {
  &-image {
    width: 128px;
  }
}