{{#if errorMessage }}
  <div class="alert alert-danger" role="alert">
    {{ errorMessage }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}
{{#if successMessage }}
  <div class="alert alert-success" role="alert">
    {{ successMessage }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

<form action="/auth/reset_password?_method=PUT" method="post" class="w-50 m-auto border border-light rounded p-4 shadow">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="{{ email }}">
    {{#each validationErrors.email}}
      <div class="invalid-feedback d-block">
        {{ this }}
      </div>
    {{/each}}
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary mb-4">Submit</button>

    <a href="/auth" class="d-block">
      Return to Login
    </a>
  </div>
</form>
